{% extends 'layouts/base_background.html' %}
{% load i18n %}
{% load socialaccount %}
{% block title %}
    Artwork - Redirecting to {{ provider.name }}
{% endblock title %}
{% block body %}
    class="sign-in-basic"
{% endblock body %}
{% block header %}
    {% include 'includes/navigation_transparent.html' %}
{% endblock header %}
{% block content %}
    <div class="page-header align-items-start min-vh-100"
         style="background-image: url('https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')"
         loading="lazy">
        <span class="mask bg-gradient-dark opacity-3"></span>
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-4 col-md-8 col-12 mx-auto">
                    <div class="card z-index-0 fadeIn3 fadeInBottom">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">
                                    {% trans "Sign In" %}
                                    {% if provider.name %}
                                        {% trans "with" %} {{ provider.name }}
                                    {% endif %}
                                </h4>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <p id="redirect-message">{% trans "Please wait while we redirect you to" %} {{ provider.name }}...</p>
                            <div id="loading-spinner"
                                 class="spinner-border text-primary"
                                 role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <form method="post" id="login-form" style="display: none;">
                                {% csrf_token %}
                                <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">
                                    {% trans "Continue to" %} {{ provider.name }}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
  document.addEventListener('DOMContentLoaded', function() {
    var form = document.getElementById('login-form');
    var message = document.getElementById('redirect-message');
    var spinner = document.getElementById('loading-spinner');
    
    // Attempt to automatically submit the form
    form.submit();
    
    // If automatic submission fails, show the button after 3 seconds
    setTimeout(function() {
      spinner.style.display = 'none';
      message.textContent = "{% trans 'Click the button below to continue to' %} {{ provider.name }}";
      form.style.display = 'block';
    }, 3000);
  });
    </script>
{% endblock javascripts %}
